
.sensor-container {
    margin: 10px;
}

.sensor-card {
    margin: 0px;
}

.sensor-content {
    padding: 24px;
    padding-top: 24px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sensor-content-form-sensing-rate {
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.sensor-card {
    margin: 10px;
    flex: 1 1 200px;
}

.sensor-container .mat-expansion-panel {
    background-color: rgb(255, 240, 190);
}

.sensor-title {
    font-size: 20px;
}

.sensor-card-title {
    font-weight: normal;
    font-size: 15px;
}

.sensor-content-form-events {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.sensor-content-form-events mat-form-field {
    margin: 20px;
    flex: 1 1 200px;
}

.sensor-content-form-events button {
    flex: 0 1 60px;
    height: 60px;
}