<div class="sensor-container">
  <mat-expansion-panel class="plant-expansion-panel mat-elevation-z6" [expanded]="true">

  <mat-expansion-panel-header class="plant-expansion-panel-header">

    <mat-panel-title class="sensor-title">
      {{sensor.sensor}}
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="Data">
      
      <div class="sensor-content">

        <form class="sensor-content-form-sensing-rate" [formGroup]="options_sensing_rate" (ngSubmit)="send_update_sampling_rate()">
          <mat-form-field>
            <input matInput type="number"
              placeholder="Sampling rate (ms)"
              formControlName="sensing_rate"
              [value]="sensor.sampling_rate"
            >
          </mat-form-field>
          <button mat-button [disabled]="waiting_update_sampling_rate">
            <mat-icon *ngIf="!waiting_update_sampling_rate">update</mat-icon>
            <mat-spinner *ngIf="waiting_update_sampling_rate"  [diameter]="30" ></mat-spinner>
          </button>
        </form>

        <form class="sensor-content-form-events" [formGroup]="options_data">
          <mat-form-field>
              <input readonly matInput type="number" placeholder="value" formControlName="value">
          </mat-form-field>
          <mat-form-field>
              <input readonly matInput type="number" placeholder="time" formControlName="time">
          </mat-form-field>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Events">
        <div class="sensor-content">
          <form class="sensor-content-form-events" [formGroup]="options_add_event">
            <mat-form-field>
                <input matInput type="number" placeholder="From" formControlName="from">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="To" formControlName="to">
            </mat-form-field>
            <button mat-button><mat-icon>add</mat-icon></button>
          </form>

          <form *ngFor="let event of events" class="sensor-content-form-events">
            <mat-form-field>
                <input readonly matInput type="text" placeholder="From" value={{event.from}}>
            </mat-form-field>
            <mat-form-field>
                <input readonly matInput type="text" placeholder="To" value={{event.to}}>
            </mat-form-field>
            <button mat-button><mat-icon>remove</mat-icon></button>
          </form>

        </div>
    </mat-tab>

    <mat-tab label="History">
        <div class="sensor-content">

          <form *ngFor="let measure of measures" class="sensor-content-form-events">
            <mat-form-field>
                <input readonly matInput type="number" placeholder="value" value={{measure.value}}>
            </mat-form-field>
            <mat-form-field>
                <input readonly matInput type="datetime" placeholder="time" value={{measure.time}}>
            </mat-form-field>
          </form>

        </div>
    </mat-tab>
  </mat-tab-group>

  </mat-expansion-panel>
</div>
