<div class="sensor-container">
  <mat-expansion-panel class="plant-expansion-panel mat-elevation-z6" [expanded]="false">

  <mat-expansion-panel-header class="plant-expansion-panel-header">

    <mat-panel-title class="sensor-title">
      {{sensor.sensor}}
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="Data">
      
      <div class="sensor-content">

        <form class="sensor-content-form-sensing-rate" [formGroup]="options_sensing_rate" (ngSubmit)="send_update_sampling_rate()">
          <mat-form-field>
            <input matInput type="number"
              placeholder="Sampling rate (deciseconds)"
              formControlName="sensing_rate"
              [value]="sensor.sampling_rate / 100"
            >
          </mat-form-field>
          <button mat-button [disabled]="waiting_update_sampling_rate">
            <mat-icon *ngIf="!waiting_update_sampling_rate">update</mat-icon>
            <mat-spinner *ngIf="waiting_update_sampling_rate"  [diameter]="30" ></mat-spinner>
          </button>
        </form>

        <form class="sensor-content-form" [formGroup]="options_data">
          <mat-form-field>
              <input readonly matInput type="number" placeholder="value" formControlName="value">
          </mat-form-field>
          <mat-form-field>
              <input readonly matInput type="number" placeholder="time" formControlName="time">
          </mat-form-field>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Events">
        <div class="sensor-content">
          <app-event-add class="event-container" [sensorComponent]= "this"></app-event-add>

          <app-event-remove *ngFor="let event of events" class="event-container" [event]="event" [sensorComponent]= "this"></app-event-remove>
        </div>
    </mat-tab>

    <mat-tab label="History">
        <div class="sensor-content">

          <button mat-button [disabled]="waiting_update_history" (click)="update_history()">
            <mat-icon *ngIf="!waiting_update_history">refresh</mat-icon>
            <mat-spinner *ngIf="waiting_update_history" [diameter]="36" ></mat-spinner>
          </button>

          <form *ngFor="let measure of history" class="sensor-content-form">
            <mat-form-field>
                <input readonly matInput type="number" placeholder="value" [value]="measure.value">
            </mat-form-field>
            <mat-form-field>
                <input readonly matInput type="datetime" placeholder="time"
                  [value]="measure.timestamp | date: 'HH:mm:ss:SS dd-MM-yyyy'">
            </mat-form-field>
          </form>

        </div>
    </mat-tab>
  </mat-tab-group>

  </mat-expansion-panel>
</div>
