<form class="sensor-content-form" (ngSubmit)="send_remove_event()">
  <mat-form-field>
    <input readonly matInput type="text" placeholder="Min" [value]="min_value">
  </mat-form-field>
  <mat-form-field>
    <input readonly matInput type="text" placeholder="Max" [value]="max_value">
  </mat-form-field>
  <mat-form-field>
    <input readonly matInput type="text" placeholder="Communicate to" [value]="return_address">
  </mat-form-field>
  <button mat-button><mat-icon>remove</mat-icon></button>
</form>