<div class="app-container">

  <mat-toolbar color=primary class="app-toolbar mat-elevation-z4">
    <object style="height: 60%;" data="../assets/plants.svg" alt="PLANTS" fill="red" type="image/svg+xml"></object>
    <span class="app-toolbar-spacer"></span>
    <button mat-button [disabled]="waiting_refresh" (click)="refresh()">
      <mat-icon *ngIf="!waiting_refresh">refresh</mat-icon>
      <mat-spinner class="toolbar-spinner" *ngIf="waiting_refresh" [diameter]="30" ></mat-spinner>
    </button>
    
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">

    <mat-sidenav-content class="app-sidenav-content">

    <app-plant *ngFor="let plant of plants" [plant]=plant></app-plant>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
