<div class="app-container">

  <mat-toolbar color=primary class="app-toolbar mat-elevation-z4">
    <img style="height: 60%;" src="../assets/plants.svg" alt="PLANTS">
    <span class="app-toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="update">refresh</mat-icon>
    </button>
    
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">

    <mat-sidenav-content class="app-sidenav-content">

      <app-plant identificator="1" [connected]="true" description="descrizione 1" [sensors]="['sensor1', 'sensor2']"></app-plant>
      <app-plant identificator="2" [connected]="false" [sensors]="['sensor1']"></app-plant>
      <app-plant identificator="3" description="descrizione tre"
      [sensors]="['sensor1', 'sensor2', 'sensor2', 'sensor2', 'sensor2', 'sensor2', 'sensor2']"
      ></app-plant>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
